{[ define "admin/console.html"]}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {[ template "admin/header.html" .]}
</head>
<body>

<div class="" style="height: 100%;weight:100%;">
    <div style="height: 100vh;width: 100vw;align-content: center;text-align: center;">
        <h1>
            Welcome
        </h1>
    </div>
</div>


{[ template "admin/script.html" .]}

<script>
    layui.config({
        base: '/static/assets/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use('index');
</script>

</body>
</html>

{[ end ]}