{[ define "admin/salary_list_form.html" ]}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user-salary</title>
    {[ template "admin/header.html" .]}
</head>
<body>

<div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">员工工号</label>
        <div class="layui-input-inline">
            <input type="text" id="job_id" name="job_id" lay-verify="required" placeholder="Please manually input" type="number" autocomplete="off" class="layui-input">
        </div>
        <button class="layui-btn" id="user_query">查询</button>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">员工名称</label>
        <div class="layui-input-inline">
            <input type="text" id="nick_name" placeholder="输入工号后自动显示" autocomplete="off" class="layui-input" disabled>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">应发工资</label>
        <div class="layui-input-inline">
            <input name="salary" id="salary"  placeholder="Automatic calculation" type="number" step="0.01" autocomplete="off" class="layui-input" disabled></input>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">基本工资</label>
        <div class="layui-input-inline">
            <input name="basic_salary" id="basic_salary"  placeholder="Automatic calculation" type="number" step="0.01" autocomplete="off" class="layui-input" disabled></input>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">补贴</label>
        <div class="layui-input-inline">
            <input name="subsidy" id="subsidy" value="0.00" lay-verify="required" placeholder="Please manually input" type="number" step="0.01" autocomplete="off" class="layui-input"></input>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">加班费</label>
        <div class="layui-input-inline">
            <input name="overtime_pay" id="overtime_pay" value="0.00" lay-verify="required"  placeholder="Please manually input" type="number" step="0.01"  autocomplete="off" class="layui-input"></input>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">缴纳税额</label>
        <div class="layui-input-inline">
            <input name="taxation" id="taxation" value="0.00" placeholder="Automatic calculation" type="number" step="0.01"  class="layui-input" autocomplete="off" disabled></input>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">扣除费用</label>
        <div class="layui-input-inline">
            <input name="deduction" id="deduction" value="0.00" lay-verify="required" placeholder="Please manually input" type="number" step="0.01" autocomplete="off"  class="layui-input"></input>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">所得工资</label>
        <div class="layui-input-inline">
            <input name="received" id="received" placeholder="Automatic calculation" lay-verify="required" type="number" step="0.01" autocomplete="off" class="layui-input" disabled></input>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">工资月份</label>
        <div class="layui-input-inline">
            <select name="month" lay-verify="required">
                <option value="">请选择月份</option>
                <option value="1">一月份</option>
                <option value="2">二月份</option>
                <option value="3">三月份</option>
                <option value="4">四月份</option>
                <option value="5">五月份</option>
                <option value="6">六月份</option>
                <option value="7">七月份</option>
                <option value="8">八月份</option>
                <option value="9">九月份</option>
                <option value="10">十月份</option>
                <option value="11">十一月份</option>
                <option value="12">十二月份</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-inline">
            <button type="button" id="computed" class="layui-btn">计算工资</button>
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <input type="button" lay-submit lay-filter="layuiadmin-app-form-submit" id="layuiadmin-app-form-submit" value="确认信息">
<!--        <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="确认编辑">-->
    </div>
</div>

{[ template "admin/script.html" .]}

<script>
    layui.config({
        base: '/static/assets/layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form'], function(){
        var $ = layui.$
            ,form = layui.form;
        $('#user_query').on('click', function (data) {
            console.log("click: ", data.target, $("#job_id").val())
            $.get("/api/get_user_salary_info", {job_id: $("#job_id").val()}, function (data) {
                if(data.code == 0) {
                    $("#nick_name").val(data.data.NickName)
                    $("#salary").val(data.data.Salary)
                    $("#basic_salary").val(data.data.BasicSalary)
                } else {
                    layer.msg('error: The user was not found');
                }
            })

        })

        // 计算工资
        $('#computed').on("click", function (data){
            console.log("computed")
            let amount = parseFloat($('#salary').val())
            let subsidy = new Number($('#subsidy').val())
            let overtime_pay = new Number($('#overtime_pay').val())
            let basic_salary = new Number($('#basic_salary').val())
            let taxation = new Number($('#taxation').val())
            let deduction = new Number($('#deduction').val())
            let received = 0.00
            console.log("is:", overtime_pay, taxation)
            if(basic_salary == 0) {
                return
            }
            let needComputed = subsidy + overtime_pay + basic_salary - deduction
            $('#taxation').val('')
            $('#received').val('')
            layer.msg("正在计算税费，请稍后")
            setTimeout(function (){
                taxation = computedTaxation(needComputed)
                $('#taxation').val(taxation)
                received = subsidy + overtime_pay + basic_salary - taxation - deduction
                console.log("computed-amount: ", amount, subsidy,received)
                $('#received').val(received)
            }, 3000)
        })

        function computedTaxation(number) {
            let money = 0.00
            let excess = 0.00
            let base = 2000
            if (number > base) {
                excess = number - base
            }
            if(excess > 0) {
                money = excess * 0.15
            }
            return money
        }

        //监听提交
        form.on('submit(layuiadmin-app-form-submit)', function(data){
            var field = data.field; //获取提交的字段
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            console.log(JSON.stringify(data.field))
            $.post('/api/add_salary', data.field, function(data){
                // 请求成功后的回调函数
                if(data.code == 0) {
                    layer.msg('修改成功');
                    // layer.msg('请求成功返回的数据：' + JSON.stringify(data));
                    //提交 Ajax 成功后，关闭当前弹层并重载表格
                    parent.layui.table.reload('LAY-app-content-list'); //重载表格
                    parent.layer.close(index); //再执行关闭
                }
                else {
                    layer.msg(`error: 该员工所选月份已经发放过工资`)
                }
            })
                .error(function(){
                    // 请求失败的回调函数
                    layer.msg('请求失败');
                });


        });

    });
</script>

</body>
</html>

{[ end ]}